.banner-image {
  width: 100%;
  height: 100%;
  background-size: 1440px 100%;
  position: relative;
  background-color: var(--Desaturated-Dark-Cyan);
  background-position: center top;
  background-repeat: repeat-x;
  background-image: url(../../assets//bg-header-desktop.svg);
}

nav {
  position: absolute;
  left: calc(50% - 40%);
  box-shadow: 0px 10px 32px 0px hsla(180, 29%, 50%, 0.349);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80%;
  min-height: 95px;
  width: 80%;
  background-color: white;
}

.centerlized {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  height: 100%;
}

.clear {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--Desaturated-Dark-Cyan);
  font-size: var(--normal-text-size);
  font-weight: bold;
  text-transform: capitalize;
}

.clear:hover {
  text-decoration: underline;
}

.left-container-navbar {
  width: 80%;
  height: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tag {
  width: auto;
  height: 40px;
  display: flex;
  background-color: transparent;
}

.left-tag {
  background-color: var(--Light-Grayish-Cyan);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: auto;
  border-radius: 6px 0px 0px 6px;
}

.left-tag span {
  text-transform: capitalize;
  color: var(--Desaturated-Dark-Cyan);
  font-size: var(--normal-text-size);
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.remove-btn {
  width: 35px;
  height: 100%;
  background-color: var(--Desaturated-Dark-Cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 6px 6px 0px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: var(--Very-Dark-Grayish-Cyan);
}

.remove-btn img {
  width: 20px;
  height: 20px;
}
