:root {
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);

  --Light-Grayish-Cyan: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
  --normal-text-size: 1.05rem;
  --medium-text-size: 1.1rem;
  --larger-text-size: 1.2rem;
  --x-l-text-size: 1.3rem;
}
/*support classes */

@keyframes MOVE-BG {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 50% 0%;
  }
}

.active .job-tag-inner {
  position: relative;
  background-image: linear-gradient(
    45deg,
    #5ba4a4 41.67%,
    #69b1b3 41.67%,
    #69b1b3 50%,
    #5ba4a4 50%,
    #5ba4a4 91.67%,
    #69b1b3 91.67%,
    #69b1b3 100%
  );
  background-repeat: repeat;
  animation: MOVE-BG 4s linear infinite;
}

.error {
  color: var(--Desaturated-Dark-Cyan);
}
.highlighted {
  border-left: 10px solid var(--Desaturated-Dark-Cyan);
}
.active .job-tag-inner span {
  color: white;
}

.sticky {
  position: fixed;
  top: 0.5%;
  left: calc(50% - 95% / 2);
  width: 95%;
  z-index: 999;
}
.error {
  font-size: 2rem;
  color: var(--Dark-Grayish-Cyan);
  text-transform: capitalize;
}
:where(body) {
  margin: 0;
  padding: 0;
}
.center {
  margin: 0 auto;
  max-width: 1480px;
}
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: "League Spartan", sans-serif;
}
header {
  height: 20vh;
  width: 100%;
}

/* mobile responsive */
@media only screen and (width <= 800px) {
  .card .centerlized {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
  }
  .company-content {
    width: 100%;
  }
  .card .centerlized .left-card-container {
    width: 100%;
    position: relative;
    padding-top: 20px;
  }

  .left-card-container img {
    position: absolute;
    width: 60px;
    top: -50%;
  }
  .card-wrapper {
    gap: 45px;
  }
  .card .centerlized .right-card-container {
    margin-top: 20px;
    width: 100%;
    gap: 15px;

    justify-content: flex-start;
    align-items: center;
  }
}
@media only screen and (width <= 420px) {
  .top-card-container {
    flex-direction: column;
    width: auto;
    align-items: flex-start;
  }
  .card-wrapper {
    gap: 80px;
    margin-top: 184px;
  }
  .bottom-card-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
  .bottom-card-container span {
    width: 100%;
  }
}
